body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat',
        sans-serif;
    color: #575757;
}

section {
    display: flex;
    align-items: center;
}

.nav {
    padding: 0 7%;
    margin: 0 auto;
    font-weight: 700;
}

.nav-left {
    padding: 0 3%;
    font-size: 25px;
}

.nav-mid,
.nav-right {
    text-align: center;
}


.nav-mid a {
    text-decoration: none;
    color: #11B2FA;
    padding: 10px;
}

.nav-mid a:hover {
    background-color: #11B2FA;
    color: white;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 15px 3px;
    border-radius: 7px;
}


.nav .flex {
    width: 33.33%;
}

.nav-right .button {
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 50px;
    color: white;
    background-image: linear-gradient(281deg, #11B2FA, #A6D4EE);
    font-weight: 700;
    margin-left: 15px;
}

.button:hover {
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 15px 3px !important;
    color: #11B2FA !important;
    background-image: linear-gradient(white, white) !important;
}

.top {
    margin: 0 auto;
}


.top-left {
    padding: 2% 0 2% 7%;
    width: 55%;
}

.top-left h1 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.3;
}

span {
    color: #11B2FA;
}

.top-left p {
    margin: -10px 0 54px 0;
    font-size: 20px;
    opacity: 80%;
}

.top .button,
.about-me .button {
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 50px;
    color: white;
    background-image: linear-gradient(281deg, #11B2FA, #A6D4EE);
    font-weight: 600;
    font-size: 18px;
}

.top-right {
    padding-right: 3%;
    width: 45%;
}

.top-right img {
    width: 100%;
}


.about-me {
    background-image: url(attachments/about-me-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 2% 0;
}

.about-me .flex {
    width: 50%;
    padding: 0 3%;
}

.about-me img {
    width: 84%;
}

.about-me h2 {
    font-size: 40px;
    font-weight: 700;
}

.about-me p {
    padding: 10px 0 60px 0;
    font-size: 18px;
    opacity: 80%;
    line-height: 1.7;
}

.recipies {
    padding: 2% 7%;
}

.recipies .flex {
    width: 33.33%;
    padding: 20px;
}

.recipies .title {
    text-align: center;
}

.recipies .title h2 {
    font-size: 40px;
    font-weight: 700;
}

.recipies .title p {
    margin: 0 auto;
    font-size: 18px;
    opacity: 80%;
    max-width: 50%;
}

.recipies .flex .item {
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 15px 3px;
    margin: 5px;
    border-radius: 20px;
    padding: 20px;
}

.recipies .flex .item:hover {
    box-shadow: #11B2FA 0px 0px 15px 3px;
}

.recipies .flex .item img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.recipies .flex .item h2 {
    font-size: 25px;
    color: black;
    font-weight: 700;
}

.recipies .flex .item p {
    margin: -10px 0 20px 0;
    font-size: 18px;
    opacity: 80%;
}



.feedbacks {
    padding: 2% 7%;
}

.feedbacks .flex {
    width: 33.33%;
    padding: 20px;
}

.feedbacks .title {
    text-align: center;
}

.feedbacks .title h2 {
    font-size: 40px;
    font-weight: 700;
}

.feedbacks .title p {
    margin: 0 auto;
    font-size: 18px;
    opacity: 80%;
    max-width: 50%;
}

.feedbacks .flex .feedback {
    margin: 5px;
    padding: 20px;
    text-align: center;
}

.feedbacks .flex .feedback:hover {
    box-shadow: #11B2FA 0px 0px 15px 3px;
    margin: 5px;
    border-radius: 20px;
    padding: 20px;
}

.feedbacks .flex .feedback img {
    width: 50%;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}

.feedbacks .flex .feedback h2 {
    font-size: 25px;
    font-weight: 700;
    color: #11B2FA;
}

.feedbacks .flex .feedback h4 {
    margin: -10px 0 20px 0;
    font-size: 19px;
    color: black;
}

.feedbacks .flex .feedback p {
    margin: -10px 0;
    font-size: 18px;
}



.users-statistics {
    margin: 3% 7% 6% 7%;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 15px 3px;
    border-radius: 20px;
}

.users-statistics .flex {
    width: 33.33%;
    padding: 5% 0% 5% 11%;
}

.users-statistics .flex h2 {
    font-size: 50px;
    line-height: 0;
    font-weight: 700;
    color: black;
}

.footer {
    text-align: center;
    background-color: #0B0D17;
    padding: 2% 7%;
}

.footer h2 {
    font-size: 30px;
    line-height: 3;
    font-weight: 700;
    margin: -20px 0 20px 0;
    letter-spacing: 1px;
}

.footer p {
    color: white;
}